.footer {
  background: rgba(0, 0, 0, 0.85);
  padding: 70px 0 50px;
}

.footer__text-container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 600px) {
    justify-content: center;
  }
}

.footer__logo-text {
  font-weight: bold;
  font-size: 36px;
}

.footer__socials-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.footer__socials-item {
  margin: 0 10px;
}

.footer__ref-text {
  @media (max-width: 600px) {
    display: none;
  }
}

.footer__ref-mobile-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.footer__ref-mobile-text {
  display: none;
  color: white;
  white-space: nowrap;

  &:first-child {
    margin-right: 20px;
  }

  @media (max-width: 600px) {
    display: block;
  }

  @media (max-width: 600px) {
    font-size: 14px;
  }
}
