.header__main {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('/images/poster.jpg');
  background-size: cover;
  background-position: top center;
  padding: 130px 0;

  @media (max-width: 800px) {
    padding: 70px 0;
  }

  @media (max-width: 400px) {
    padding: 40px 0;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header__title_arrow {
  display: flex;
  flex: 1;
}

.header__text-container {
  width: 80%;

  @media (max-width: 800px) {
    width: auto;
  }
}

.header__title {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 2px;
  text-transform: uppercase;

  @media (max-width: 1200px) {
    font-size: 38px;
  }

  @media (max-width: 1000px) {
    font-size: 30px;
  }

  @media (max-width: 800px) {
    font-size: 32px;
  }

  @media (max-width: 400px) {
    font-size: 26px;
  }
}

.header__subtitle {
  margin-top: 50px;
  font-size: 32px;
  text-transform: uppercase;

  @media (max-width: 1200px) {
    font-size: 24px;
  }

  @media (max-width: 1000px) {
    font-size: 20px;
  }

  @media (max-width: 800px) {
    margin-bottom: 40px;
  }

  @media (max-width: 400px) {
    margin-top: 30px;
    font-size: 17px;
  }
}

.header__arrow {
  margin: 0 20px 50px;
  align-self: flex-end;
  width: 25%;

  @media (max-width: 800px) {
    display: none;
  }
}
