@import './variables';

*::selection {
  background: lighten($mainOrange, 3%);
}

.container {
  width: 80%;
  margin: 0 auto;

  @media (max-width: 1300px) {
    width: 90%;
  }

  @media (max-width: 600px) {
    width: 96%;
  }
}

body {
  font-family: 'Jost-Regular';
}

input,
input[type=number],
button {
  font-family: 'Jost-Regular';
  border: none;
  
  &:active, &:focus {
    outline: none;
    border: none;
  }
}

.link {
  font-weight: bold;

  &:hover {
    color: #666;
  }
}

.link--underlined {
  text-decoration: underline;
}
