@import './base/reset.scss';
@import './base/shared.scss';
@import './base/fonts.scss';
@import './base/text.scss';

@import './components/header.scss';
@import './components/nav.scss';
@import './components/form.scss';
@import './components/programOfEdiucation.scss';
@import './components/ourTeam.scss';
@import './components/anticrisis.scss';
@import './components/reviews.scss';
@import './components/shared.scss'
